.layout {
  background: #FFF;
  width: 1000px;
}
.header {
  background: #CFCFCF;
}
.navbar {
  background: #CFCFCF;
}
.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
}
.menuItem {
  float: right;
}
.menuButton {
  float: right;
  margin-top: 20px;
}
.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}
.newfeed {
  margin-top: 20px;
}
.titleNewfeed {
  text-align: center;
  font-size: 20px;
}
.ant-carousel{
  width: 380px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #1E90FF;
  overflow: hidden;
}
.imgPost {
    float: left;
}
.icons {
    float: right;
}
.titlePost {
    width: 320px;
    float: left;
    text-align: Left;
}
.timePost{
    font-size: 10px;
    margin-top: -5px;
}
.contentPost{
    padding-top: 20px;
    margin-left: 420px;
}